* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.books {
 max-width: 1200px;
 width: 100%;
 margin: 0 auto;
 padding: 0 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
.add-book {
 max-width: 600px;
 margin: 0 auto;
}
.add-button {
 width: 100%;
 display: flex;
 justify-content: center;
}
.book {
 max-width: 200px;
 width: 100%;
 margin: 0 10px 15px;
}
.book-cover {
 width: 200px;
 height: 200px;
}
.home-bg {
 width: 450px;
 height: 350px;
 margin: 0 auto;
 display: block;
}
.home-button {
 margin-top: 20px;
 display: flex;
 justify-content: center;
}
